<footer class="page-footer font-small bg-light pt-4 mt-5">

    <div class="container-fluid">
        <div class="row">
            <div class="col d-flex flex-column d-flex align-items-center justify-content-center">
                    <ul class="social-network">
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank" class="icoLink">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank" class="icoInsta">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
    
                        <li>
                            <a href="https://github.com/julianarpaz" target="_blank" class="icoGithub">
                                <i class="fa fa-github" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank" class="icoTwitter">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>                        
                    </ul>
                    <small class="pb-3">Siga-nos nas redes sociais</small>                                        
            </div>
            
            
            <div class="col d-flex flex-column justify-content-center align-items-center">
                <i class="fa fa-home text-color-outono" aria-hidden="true"></i>
                <small>Retire na loja</small>                             
            </div>
            <div class="col d-flex flex-column justify-content-center align-items-center">
                <i class="fa fa-comments text-color-outono" aria-hidden="true"></i>
                <small>Tire suas dúvidas conosco</small>   
            </div>
            <div class="col d-flex flex-column justify-content-center align-items-center">
            <i class="fa fa-truck text-color-outono" aria-hidden="true"></i>
            <small>Entrega rápida</small> 
            </div>
            <div class="col d-flex justify-content-center">
                <small>Sobre a CompraVisse</small>
                <small></small>
            </div>
        </div>
    </div>
</footer>
