<div class="container-fluid py-5 bg-inverno">
    <div class="row d-flex align-items-center">
      <div class="col-md-3">
        <div class="d-flex flex-column">
          <img
            src="../../assets/img/passaro-xilogravura.png"
            alt="imagem de cordel passaro"
          />
  
          <img
            src="../../assets/img/Garota-xilogravura.png"
            alt="imagem de cordel garota"
          />
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-5">
        <div class="card borda">
          <div class="card-body">
            <ul class="navbar-nav ml-auto d-flex align-items-center">
              <li class="nav-item pb-2">
                <img
                  src="https://i.imgur.com/WyaqWG2.png"
                  alt="logo compravisse"
                  width="100px"
                  height="100px"
                  class="img-fluid pt-2 pb-2"
                />
              </li>
            </ul>
            <h6 class="card-subtitle mb-2 text-muted text-center text-black">
              Acesse a sua conta
            </h6>
  
            <!-- /forms -->
            <div class="row d-flex align-items-center">
              <div class="col-md-12">
                <div class="row d-flex justify-content-center">
                  <div class="col-md-10">
                    <!-- redes sociais -->
                    <div class="d-flex justify-content-center">
                      <button
                        type="submit"
                        class="btn bg-facebook text-white w-100 mt-3 mb-2 btn-style"
                      >
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        <span>Entrar com o Facebook</span>
                      </button>
                    </div>
  
                    <div class="d-flex justify-content-center">
                      <button
                        type="submit"
                        class="btn bg-google text-white w-100 mb-3 btn-style"
                      >
                        <i class="fa fa-google" aria-hidden="true"></i>
                        <span>Entrar com o Google</span>
                      </button>
                    </div>
                    <!-- /redes sociais -->

                    <!-- !FORMS -->

    <div class="form-group">
        <label for="nome">Nome</label>
        <input [(ngModel)]='usuario.nome'
        class="form-control"
        type="text"
        name="nome"
        id="nome"
        placeholder="Digite seu nome e sobrenome">
    </div>
    <div class="form-group">
        <label for="usuario">E-mail</label>
        <input [(ngModel)]="usuario.usuario"
        class="form-control"
        type="text"
        name="usuario"
        id="usuario"
        placeholder="Digite seu e-mail">
    </div>
    <div class="form-group">
        <label for="senha">Senha</label>
        <input (input)='confirmSenha($event)'
        class="form-control"
        type="password"
        name="senha"
        id="senha"
        placeholder="Digite uma senha com no mínimo 8 caracteres">
    </div>
    <div class="form-group">
        <label for="confirmSenha">Confirmar senha</label>
        <input [(ngModel)]='usuario.senha'
        class="form-control"
        type="password"
        name="senha"
        id="confirmSenha"
        placeholder="Digite a senha novamente">
    </div>

    <div class="form-group">
        <label for="tipo">Tipo de usuário</label>
        <select class="form-control" name="tipo" id="tipo" 
          (change)='tipoUsuario($event)'>
          <option>Selecione um tipo de usuário:</option>
          <option value="normal">Cliente</option>
          <option value="adm">Vendedor</option>
        </select>
      </div>

    <div class="d-flex justify-content-center">
        <button type="submit" class="btn bg-verao text-white btn-style w-100" (click)="cadastro()"> Cadastrar
        </button>
    </div>

    <hr class="mt-3 mb-3" />

    <p class="text-center">
        Já tem uma conta?<a routerLink="/login"> Entrar</a>
    </p>
    </div>
                  </div>
                </div>
              </div>
            </div>
  
          <!-- /card -->
          <!-- /forms -->

            </div>
          </div>
        </div>
            <!-- card -->

      </div>

              <!-- ! /FORMS -->