<div class="container-fluid d-flex justify-content-center pt-5 bg-inverno">
    <div class="flex-direction-column">
        <img src="../../assets/img/passaro-xilogravura.png" alt="imagem de cordel passaro">
        <br>
        <img src="../../assets/img/Garota-xilogravura.png" alt="imagem de cordl garota">
            </div>
    <!-- card -->
    <div class="card" style="width: 35rem;">
        <div class="card-body">
            <ul class="navbar-nav ml-auto d-flex align-items-center">
                <li class="nav-item pb-2">
                    <img src="https://i.imgur.com/WyaqWG2.png" alt="logo compravisse" width="100px" height="100px" class="img-fluid pt-2 pb-2">
                </li>            
            </ul>
          <h6 class="card-subtitle mb-2 text-muted text-center text-black">Crie a sua conta. É grátis!

          </h6>

                <div class="row d-flex align-items-center">
                    <div class="col-md-12">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-10">
                            <!-- redes sociais -->
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn bg-facebook text-white w-100 mt-3 mb-2 btn-style"><i class="fa fa-facebook" aria-hidden="true"> Entrar com o Facebook</i></button>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn bg-google text-white w-100 mb-3 btn-style"><i class="fa fa-google" aria-hidden="true"> Entrar com o Google</i></button>
                                </div>
                            <!-- /redes sociais -->
                <form>
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input [(ngModel)]='usuario.nome'
                        class="form-control"
                        type="text"
                        name="nome"
                        id="nome"
                        placeholder="Digite seu nome">
                    </div>
                    <div class="form-group">
                        <label for="usuario">E-mail</label>
                        <input [(ngModel)]="usuario.usuario"
                        class="form-control"
                        type="text"
                        name="usuario"
                        id="usuario"
                        placeholder="Digite seu E-mail">
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input (input)='confirmSenha($event)'
                        class="form-control"
                        type="password"
                        name="senha"
                        id="senha"
                        placeholder="Digite sua senha">
                    </div>
                    <div class="form-group">
                        <label for="confirmSenha">Confirmar senha</label>
                        <input [(ngModel)]='usuario.senha'
                        class="form-control"
                        type="password"
                        name="senha"
                        id="confirmSenha"
                        placeholder="Digite sua senha novamente">
                    </div>

                    <div class="form-group">
                        <label for="tipo">Tipo de usuário</label>
                        <select class="form-control" name="tipo" id="tipo" 
                          (change)='tipoUsuario($event)'>
                          <option>Selecione um tipo de usuário:</option>
                          <option value="normal">Normal</option>
                          <option value="adm">Administrador</option>
                        </select>
                      </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn bg-verao text-white btn-style w-100" (click)="cadastro()"> Cadastrar</button>
                    </div>
                    <hr class="mt-3 mb-3">
                    <div class="form-group d-flex justify-content-center">
                        <label for="">Já tem uma conta?<a routerLink="/login"> Entrar</a></label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

<!-- forms -->