<div class="container">
    
    <div class="row d-flex justify-content-around">        

        <div class="col-6 col-md-4 text-center mb-4 mt-4"><img class="avatar avatar-xxl shadow-0 mb-3" src="https://i.imgur.com/kcn30eQ.jpg" alt="Allana Karen">
            <h4 class="h6 mb-1">Allana Karen</h4>
            <p class="text-sm text-muted">Desenvolvedora Fullstack Jr</p>
             <span  class="d-flex justify-content-center">
                <a href="https://github.com/Allanakaren" target="_blank" class="icoGithub">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>                
               <a href="https://www.linkedin.com/in/allana-karen/" target="_blank" class="icoLink">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
               </a>                
            </span>
          </div>

          <div class="col-6 col-md-4 text-center mb-4 mt-4"><img class="avatar avatar-xxl shadow-0 mb-3" src="https://i.imgur.com/oYtqjSA.jpg" alt="Emanuelle Cavalcante">
            <h4 class="h6 mb-1">Emanuelle Cavalcante</h4>
            <p class="text-sm text-muted">Desenvolvedora Fullstack Jr</p>
             <span  class="d-flex justify-content-center">
                <a href="https://github.com/Emanuelle30" target="_blank" class="icoGithub">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>                
               <a href="https://www.linkedin.com/in/30emanuellecavalcante/" target="_blank" class="icoLink">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
               </a>                
            </span>
          </div>

          <div class="col-6 col-md-4 text-center mb-4 mt-4"><img class="avatar avatar-xxl shadow-0 mb-3" src="https://i.imgur.com/qt8CQzl.jpg" alt="Gabriela Matias">
            <h4 class="h6 mb-1">Gabriela Matias</h4>
            <p class="text-sm text-muted">Desenvolvedora Fullstack Jr</p>
             <span  class="d-flex justify-content-center">
                <a href="https://github.com/GabrielaMatemaTECH" target="_blank" class="icoGithub">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>                
               <a href="https://www.linkedin.com/in/gabriela-matiasnascimento/" target="_blank" class="icoLink">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
               </a>                
            </span>
          </div>

          <div class="col-6 col-md-4 text-center mb-4 mt-4"><img class="avatar avatar-xxl shadow-0 mb-3" src="https://i.imgur.com/PqB8LLX.jpg" alt="Juliana Paz">
            <h4 class="h6 mb-1">Juliana Paz</h4>
            <p class="text-sm text-muted">Desenvolvedora Fullstack Jr</p>
             <span  class="d-flex justify-content-center">
                <a href="https://github.com/julianarpaz" target="_blank" class="icoGithub">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>                
               <a href="https://www.linkedin.com/in/juliana-paz/" target="_blank" class="icoLink">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
               </a>                
            </span>
          </div>

          <div class="col-6 col-md-4 text-center mb-4 mt-4"><img class="avatar avatar-xxl shadow-0 mb-3" src="https://i.imgur.com/WhygFY8.jpg" alt="Lucas Baltar">
            <h4 class="h6 mb-1">Lucas Baltar</h4>
            <p class="text-sm text-muted">Desenvolvedor Fullstack Jr</p>
             <span  class="d-flex justify-content-center">
                <a href="https://github.com/lucasbaltar" target="_blank" class="icoGithub">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>                
               <a href="https://www.linkedin.com/in/lucasesnaty/" target="_blank" class="icoLink">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
               </a>                
            </span>
          </div>

          <div class="col-6 col-md-4 text-center mb-4 mt-4"><img class="avatar avatar-xxl shadow-0 mb-3" src="https://i.imgur.com/7uT9UBP.jpg" alt="Luiza Barreto">
            <h4 class="h6 mb-1">Luiza Barreto</h4>
            <p class="text-sm text-muted">Desenvolvedora Fullstack Jr</p>
             <span  class="d-flex justify-content-center">
                <a href="https://github.com/luizapbarreto" target="_blank" class="icoGithub">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>                
               <a href="https://www.linkedin.com/in/maria-luiza-paes-barreto/" target="_blank" class="icoLink">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
               </a>                
            </span>
          </div>

          <div class="col-6 col-md-4 text-center mb-4 mt-4"><img class="avatar avatar-xxl shadow-0 mb-3" src="https://i.imgur.com/b59lo4W.jpg" alt="Luiza Barreto">
            <h4 class="h6 mb-1">Williane Pereira</h4>
            <p class="text-sm text-muted">Desenvolvedora Fullstack Jr</p>
             <span  class="d-flex justify-content-center">
                <a href="https://github.com/willihane" target="_blank" class="icoGithub">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>                
               <a href="https://www.linkedin.com/in/williane-pereira/" target="_blank" class="icoLink">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
               </a>                
            </span>
          </div>                 
        
    </div>
</div>


<div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10">        
        <div class="row mt-5 justify-content-around">        
          <div class="col-6 col-md-4 text-center mb-4">
            <img class="avatar avatar-xxl shadow-0 mb-3" style="width: 160px; height: 160px;" src="https://i.imgur.com/OkNTCqI.jpg" alt="">
          <h4 class="h6 mb-1">Generation Brasil</h4>
          <p class="text-muted mb-6">Nossa missão é apoiar jovens a construírem carreiras sustentáveis e fornecer aos empregadores uma rede de talentos altamente qualificada e motivada.</p>
        </div>
        </div>
      </div>
    </div>
</div>


