<nav class="navbar navbar-expand-lg bg-inverno">
  <div class="collapse navbar-collapse">
      <div>
      <h5 class="text-color-outono font-weight-bold ml-5">Na dúvida vai de jeans!</h5>
      </div>
      <ul class="navbar-nav ml-auto d-flex align-items-center">
          <li class="nav-item">
              <img src="https://i.imgur.com/WyaqWG2.png" alt="logo compravisse" width="120px" height="120px" class="img-fluid">
          </li>            
      </ul>
  
      <ul class="navbar-nav ml-auto d-flex justify-content-around align-items-center ">
          <li class="nav-item pl-3">
              <a href="">
                <p class="text-color-outono m-0">
                  <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                </p>
              </a> 
          </li>            
          <li class="nav-item pl-3 fs-10 mt-2">
            <div class=" d-flex align-items-center justify-content-center" *ngIf='!auth.logado()'>
              <p class="text-center">
                Faça <a routerLink="/login">Login</a><br>              
                ou <a routerLink="/cadastro">Cadastre-se</a>
              </p>
            </div>
            <div class=" d-flex flex-column align-items-center justify-content-center" *ngIf='auth.logado()'>
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                Olá, {{auth.nome}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Meus pedidos</a>
                <a class="dropdown-item" href="#">Meus favoritos</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" (click)='sair()'>Sair</a>
              </div>              
            </div>                             
          </li>              
          <li class="nav-item pl-4 pr-3">
            <a href="">
              <p class="text-color-outono m-0">
                  <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
              </p>
            </a> 
          </li>                            
      </ul>  
  </div>
</nav>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
           
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mx-auto">
        <ul class="navbar-nav mb-2 mb-lg-0 p-0">
          <li class="nav-item navHover w-auto text-format fw-bold" *ngFor='let cat of listaCategoria'>
            <a class="nav-link text-format" aria-current="page" [routerLink]="['/categoria', cat.id]">
            {{cat.descricao}}</a>
          </li>
        </ul>
        <li class="pl-5">
          <form class="form-inline my-2 my-lg-0">
            <input class="btn form-format mr-sm-0 text-white" type="search" name="pesquisa" id="pesquisa" placeholder="O que você está procurando?" aria-label="Pesquisar" [(ngModel)]="nomeProduto" (keyup)="findByNomeProduto()">
            <button class="btn btn-search bg-outono my-2 my-sm-0" type="submit">
              <i class="fa fa-search text-white fa-lg" aria-hidden="true"></i>
            </button>
          </form>
        </li>
        
      </ul>
      
      
    </div>

    
      
    
  </nav>
