<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" id="img-bg">
            <div class="row d-flex justify-content-end">
                <img src="{{produto.foto}}" alt="" height="550px" width="500px ">

            </div>
        </div>
        <div class="col-md-6">
            <div class="row d-flex ml-5 mt-3 ">
                <h2>{{produto.nome}}</h2>
                <i class="fa fa-heart-o ml-4 mt-3" aria-hidden="true" style="font-size: medium;"></i>
            </div>
            <div class="col-md-9">
                <hr>
            </div>
            <div class="row d-flex ml-4 rating-stars">
                <input type="radio" name="rating" id="rs0" checked><label for="rs0"></label>
                <input type="radio" name="rating" id="rs1"><label for="rs1"></label>
                <input type="radio" name="rating" id="rs2"><label for="rs2"></label>
                <input type="radio" name="rating" id="rs3"><label for="rs3"></label>
                <input type="radio" name="rating" id="rs4"><label for="rs4"></label>
                <input type="radio" name="rating" id="rs5"><label for="rs5"></label>
                </div>
            <script 
            src="https://kit.fontawesome.com/5ea815c1d0.js"></script>
            <div class="wraper">
            <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="gitlabBilal" data-color="#FFDD00" data-emoji="" data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff"></script>
            </div>
            <div class="row d-flex ml-5 mt-3">
                <h6>Vendido e entregue por {{produto.fornecedor}}</h6>
            </div>
            <div class="row d-flex ml-5 mt-3">
                <h4>{{produto.preco | currency: "BRL"}}</h4>
            </div>
            <div class="row d-flex ml-5 mt-3">
                <h5>Descrição </h5>
            </div>
            <div id="descricao" class="row d-flex mt-2 col-md-9">
                <h6>{{produto.descricao}}</h6>
            </div>
            <div class="row d-flex ml-5 mt-3">
                <h6>Tamanho</h6>
            </div>
            <div class="row d-flex ml-5">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active bg-light" id="pills-p-tab" data-toggle="pill" href="#pills-p" role="tab" aria-controls="pills-p" aria-selected="true" style="color: black">P</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link bg-light" id="pills-m-tab" data-toggle="pill" href="#pills-m" role="tab" aria-controls="pills-m" aria-selected="false" style="color: black">M</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link bg-light"  id="pills-g-tab" data-toggle="pill" href="#pills-g" role="tab" aria-controls="pills-g" aria-selected="false" style="color: black">G</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bg-light" id="pills-gg-tab" data-toggle="pill" href="#pills-gg" role="tab" aria-controls="pills-gg" aria-selected="false" style="color: black">GG</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link bg-light" id="pills-xg-tab" data-toggle="pill" href="#pills-xg" role="tab" aria-controls="pills-xg" aria-selected="false" style="color: black">XG</a>
                      </li>
                  </ul>
                  <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-p" role="tabpanel" aria-labelledby="pills-p-tab"></div>
                    <div class="tab-pane fade" id="pills-m" role="tabpanel" aria-labelledby="pills-m-tab"></div>
                    <div class="tab-pane fade" id="pills-g" role="tabpanel" aria-labelledby="pills-g-tab"></div>
                    <div class="tab-pane fade" id="pills-gg" role="tabpanel" aria-labelledby="pills-gg-tab"></div>
                    <div class="tab-pane fade" id="pills-xg" role="tabpanel" aria-labelledby="pills-xg-tab"></div>
                  </div>
            </div>
            <button class="btn w-5 comprar text-white bg-outono ml-5">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                <span class="ml-2" routerLink="/carrinho"
                (click)='getProdutoById(produto.id)'
                >Comprar</span>
            </button>    
        </div>
    </div>
</div>