.bg-inverno{
    background-color: #89b0bf;
}

.bg-outono{
    background-color: #40311e;
}

.bg-verao{
    background-color: #c77c00;
}

.bg-primavera{
    background-color: #e4bda3;
}

.fw {
    font-weight: bold
}


.produtoFoto {
    min-height: 100%;
    max-height: 150px;
    width: 100%;
    object-fit: cover;
}


.borda {
    border-radius: 1rem;
    border:#c77c00;
}

.f {
    float: right;
}