<div class="container mt-5 mb-5">
    <div class="col-md-12">
        <h5 class="mb-5 mt-5">CARRINHO</h5>
    

    <!-- ! forms CEP -->

<form>
    <div class="card col-md-6" style="width: 35rem;">
        <div class="card-body">
          <div class="form-group col-md-9">
            <h5 class="card-title">
            <label for="inputCEP">Calcular frete e prazo</label>
            <input [(ngModel)]="this.cep" type="text" class="form-control" id="inputCEP" placeholder="Digite seu CEP aqui">
            </h5>

            <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Calcular frete
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">&nbsp; FRETE GRÁTIS! 🥳</h3>
      </div>
      <div class="modal-body">
        <h5 class="text-muted">Aproveite! Promoção de inauguração válida até 13/07/2022.</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

          </div>
        </div>
      </div>
</form>

    <!-- ! / forms CEP -->

    <!-- card miniatura do produto -->

    <div class="card mb-5 mt-5" style="width: 18rem;">
        <div class="card-body">
          <p class="card-subtitle mb-2">Vendido e entregue por <a href="">Compra, visse?!</a></p>
          <img src="" alt="foto do produto aqui">

          <h1>Quantidade</h1>
          <button (click)="offClick()">-</button>
            <option value="">{{sumValue}}</option>
          <button (click)="onClick()">+</button>
        </div>
      </div>

   <!-- / card miniatura do produto -->

<!-- ! modal de finalizar compra -->

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Finalizar compra
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Compra realizada com sucesso!</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="text-muted"> Aguarde... Em instantes você recebera todas as informações da compra através do e-mail cadastrado!</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" routerLink="/inicio">Ok</button>
      </div>
    </div>
  </div>
</div>

<!-- ! / modal de finalizar compra -->

</div>
</div>
