.bg-inverno {
    background-color: #89b0bf;
}

.inverno {
    color: #89b0bf;
}

.bg-outono {
    background-color: #40311e;
}

.bg-verao {
    background-color: #c77c00;
}

.bg-primavera {
    background-color: #e4bda3;
}

.fw {
    font-weight: bold
}


.produtoFoto {
    min-height: 100%;
    max-height: 150px;
    width: 100%;
    object-fit: cover;
}


.borda {
    border-radius: 1rem;
    border: #c77c00;
}

.f {
    float: right;
}

.img-grow {
    width: 130px;
}

.er {
    border: 1px solid #c77c00;
    background-color: #c77c00(150, 215, 255);
    transition: 1s;
    font-size: 40px;
    cursor: pointer;
}


.img-grow:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}