<div class="container mt-5 mb-5">
    <div class="col-md-12">
        <h5 class="mb-5 mt-5">CARRINHO</h5>
    

    <!-- forms CEP -->
<form>
    <div class="card col-md-6" style="width: 35rem;">
        <div class="card-body">
          <div class="form-group col-md-9">
            <h5 class="card-title">
            <label for="inputCEP">Calcular frete e prazo</label>
            <input type="text" class="form-control" id="inputCEP" placeholder="Digite seu CEP aqui">
            </h5>
            <button type="submit" class="btn btn-primary">Calcular frete</button>
          </div>
        </div>
      </div>
</form>

    <!-- / forms CEP -->

    <!-- card miniatura do produto -->

    <div class="card mb-5 mt-5" style="width: 18rem;">
        <div class="card-body">
          <p class="card-subtitle mb-2">Vendido e entregue por <a href="">Compra, visse?!</a></p>
          <img src="" alt="foto do produto aqui">

          <h1>Quantidade</h1>
          <button>-</button>
          <input type="text">
            <option value="">1- exemplo</option>
          <button>+</button>
        </div>
      </div>

   <!-- / card miniatura do produto -->


   <!-- card vazio-->

   <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">CARD VAZIO</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

     <!-- /card vazio-->

</div>
</div>
