<div class="container-fluid py-5 bg-inverno">
    <div class="row d-flex align-items-center">
      <div class="col-md-3">
        <div class="d-flex flex-column">
          <img
            src="../../assets/img/passaro-xilogravura.png"
            alt="imagem de cordel passaro"
          />
  
          <img
            src="../../assets/img/Garota-xilogravura.png"
            alt="imagem de cordel garota"
          />
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-5">
        <div class="card borda">
          <div class="card-body">
            <ul class="navbar-nav ml-auto d-flex align-items-center">
              <li class="nav-item pb-2">
                <img
                  src="https://i.imgur.com/WyaqWG2.png"
                  alt="logo compravisse"
                  width="150px"
                  height="150px"
                  class="img-fluid pt-2 pb-2"
                />
              </li>
            </ul>

            <div class="col-md-12">
                <h2 class="text-center text-secondary"> Atualizar usuário </h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-10">
                <form>
                    <div class="form-group">
                        <label for=""> Nome</label>
                        <input type="text" class="form-control" [(ngModel)]="usuario.nome" name='nome'>
                    </div>
                    <div class="form-group">
                        <label for=""> E-mail</label>
                        <input type="email" class="form-control" [(ngModel)]="usuario.usuario" name="email">
                    </div>
                    <div class="form-group">
                        <label for=""> Foto</label>
                        <input type="text" class="form-control" [(ngModel)]="usuario.foto" name="foto">
                    </div>
                    <div class="form-group">
                        <label for=""> Senha</label>
                        <input type="password" class="form-control" name="senha" (input)="confirmSenha($event)">
                    </div>
                    <div class="form-group">
                        <label for=""> Confirmar senha</label>
                        <input type="password" class="form-control" [(ngModel)]="usuario.senha" name="confirmarSenha">
                    </div>
                    <div class="form-group">
                        <label for=""> Tipo de usuário</label>
                        <select name="" id="" class="form-control" (change)="tipoUsuario($event)">
                            <option value="" selected disabled> Selecione a opção</option>
                            <option value=""> Cliente</option>
                            <option value=""> Vendedor</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-around">
                        <button class="btn btn-outline-danger w-25 mt-2 mb-4" routerLink="/inicio"> Cancelar</button>
                        <button class="btn btn-outline-success w-25 mt-2 mb-4" (click)="atualizar()"> Atualizar </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
