
.container {
    align-items: center;
}

.circulo{
    width: 120px;
    height: 120px;
    border-radius: 50%;  
}

.produto-card {
    width: 300px;
    min-height: 250px;
  }

  .bg-outono{
    background-color: #40311e;
}

.imagem-card {
    min-width: 100%;
    height: 274px;
    object-fit: cover;
    
  }

  .comprar:hover {
    cursor:pointer
  }

  .text-line-decoration{
    text-decoration: line-through
    }