<div class="container">
    <div class="row text-color-outono mt-2">
        <h4>Navegue por estações:</h4>
        <div class="col-md-12 d-flex justify-content-around mt-3">            
            <div class="circulo bg-primavera"></div>            
            <div class="circulo bg-verao"></div>
            <div class="circulo bg-outono"></div>
            <div class="circulo bg-inverno"></div>                     
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12 d-flex justify-content-around text-color-outono">
        <h5>Primavera</h5>
        <h5 class="mr-2">Verão</h5>
        <h5>Outono</h5>
        <h5>Inverno</h5>                
    </div> 

    <div class="row">
        <div class="col-md-12 d-flex justify-content-between">            
            <div class="card" *ngFor='let item of listaProduto' style="width: 18rem;">
                <img src="{{item.foto}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{item.nome}}</h5>
                  <p class="card-text">{{item.preco | currency: "BRL"}}</p>
                  <p class="card-text"><small class="text-muted">By: {{item.usuario.nome}}</small></p>
                  <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</div>

