<div class="container">
    <div class="row text-color-outono mt-2">
        <h4>Navegue por estações:</h4>
        <div class="col-md-12 d-flex justify-content-around mt-3">            
            <div class="d-flex flex-column align-items-center">
                <div class="circulo bg-primavera mb-2"></div>  
                <h5>Primavera</h5>
            </div>
            <div class="d-flex flex-column align-items-center">
                <div class="circulo bg-verao mb-2"></div>
                <h5>Verão</h5> 
            </div>
            <div class="d-flex flex-column align-items-center">
                <div class="circulo bg-outono mb-2"></div>
                <h5>Outono</h5>
            </div>
            <div class="d-flex flex-column align-items-center">
                <div class="circulo bg-inverno mb-2"></div> 
                <h5>Inverno</h5> 
            </div>                           
        </div>
    </div> 

    <div class="row mt-5">
        <div class="col-md-12 d-flex justify-content-between">            
            <div class="card mr-3" *ngFor='let item of categoria.produto' style="width: 18rem;">
                <img src="{{item.foto}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{item.nome}}</h5>
                  <p class="card-text">{{item.preco | currency: "BRL"}}</p>
                  <p class="card-text"><small class="text-muted">By: {{item.usuario.nome}}</small></p>
                  <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</div>

